body {
  background-color: mistyrose;
}

html {
  scroll-padding-top: 70px;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content {
  margin-top: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
  position: fixed;
  width: 100%;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(27, 139, 134);
}

#selfie {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}