#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightseagreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(31, 134, 129);
}

#greeting-container {
  margin-top: 20px;
}

#selfie {
  width: 50%;
}